* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 1rem; /* 16px */
  background-color: #0b0316;
}

.container {
  width: 100%;
  max-width: 960px;
  background-color: #2a0d59;
  border: 1px solid #3f1386;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 3rem;
  color: #f0e9fc;
}

#taskInput {
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

#addButton {
  width: fit-content;
  padding: 1rem;
  background-color: #64c91d;
  border: none;
  border-radius: 1rem;
  color: #162d06;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
}

#addButton:hover {
  background-color: #438613;
  color: #e2f9d2;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task {
  background-color: #c3a6f2;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.task p {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.task-icons {
  flex-shrink: 0;
}

.complete {
  background-color: #0b0316;
}

.complete p {
  color: #541ab2;
  text-decoration: line-through;
}

.task-icons i {
  font-size: 1.4rem;
  color: #541ab2;
  cursor: pointer;
}

.icon-complete:hover {
  color: #1ab24d;
}

.icon-delete:hover {
  color: #b21a2e;
}
