* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  color: whitesmoke;
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 1rem;
}

.button {
  padding: 12px 24px;
  border-radius: 48px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: darkslateblue;
  background-color: lightgreen;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: whitesmoke;
  scale: 1.1;
  transition: all 0.3s ease;
}

.button:active {
  color: whitesmoke;
  background-color: black;
  scale: 1;
  transition: all 0.3s ease;
}
